authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage = digitalSignature, keyEncipherment
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[alt_names]
DNS.1 = passthrough-app.testapp-passthrough.apps.okd-sno.brainybots.cloud
DNS.2 = *.testapp-passthrough.apps.okd-sno.brainybots.cloud
